<h2> Search for a flight: </h2>

<h3> Choose an airport for your departure: </h3>
<%= select(:flight, :origin_id, @flights_origins) %>

<h3> Choose an airport for your arrival: </h3>
<%= select(:flight, :destination_id, @flights_destinations) %>

<h3> Choose a date for your flight: </h3>
<%= select(:flight, :departure_date, @flights_dates) %>
