<h1 class='is-size-4'>Name of flight: <%= @booking_flight_name[0] %></h1>
<h1 class='is-size-4'>Date of flight: <%= @booking_flight_date[0] %></h1>
<h1 class='is-size-4'>Flight origin airport: <%= @booking_flight_origin[0] %></h1>
<h1 class='is-size-4'>Flight destination airport: <%= @booking_flight_destination[0] %></h1>
