<%= form_with model: @booking, local:true do |form| %>
    Fill out passenger info:
    <ul>
        <%= form.fields_for :passengers do |passengers_form| %>
            <li>
                <p>Hello!</p>
            </li>
        <% end %>
    </ul>
    <%= form.submit %>
<% end %>

