<div class='columns'>
<div class='column is-half' style='margin-left:450px'>
<h2 class='is-size-2'>Create your booking</h2>
<div class='box'>
	<%= render 'booking_flight_info' %>
	<%= render 'new_booking_form' %>
</div>
</div>

